@{
    var sucesso = TempData["Sucesso"] as string;
    var erro = TempData["Erro"] as string;
    var aviso = TempData["Aviso"] as string;
    var info = TempData["Info"] as string;
}

@if (!string.IsNullOrEmpty(sucesso)){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle"></i> @sucesso
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}
@if (!string.IsNullOrEmpty(erro)){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon"></i> @erro
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}
@if (!string.IsNullOrEmpty(aviso)){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle"></i> @aviso
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}
@if (!string.IsNullOrEmpty(info)){
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <i class="bi bi-info-circle"></i> @info
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}
